*,*::after,*::before {
    box-sizing: border-box;
}

:root {
    --code-orange: #A8644D;
    --main-gray: #303842;
    --cool-shadow: 2px 2px 1px #1f1f1f;
}

body {
    text-align: center;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4rem;
  }

#showcase {
    display: grid;
    margin: 50px 50px 0px 50px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 5px;
}

.project-tile {
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: var(--cool-shadow);
    transition: transform .7s ease-in-out;
    overflow: hidden;
}

.project-tile:hover .code {
    color: var(--code-orange);
}

img {
    width: 100%;
    transition: transform .5s; 
}

.project-tile:hover img {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.project-img {
    background-size: cover;
}

.project-img:after {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}


.tile-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-size: 1.4em;
    color: white;
    display: none;
    /* background-color: #303842; */
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;   
}

.project-tile:hover .tile-title, .project-tile:focus .tile-title {
    display: block;
}

.project-tile:hover .project-img:after, .project-tile:focus .project-img:after {
    display: block;
}

